 <h2>Edit Internet and Phones</h2> 
              <table class="table">
                  <thead>
                  <tr>
                      <th>Country</th>
                      <th>Year</th>
                      <th>Usage internet</th>
                      <th>Usage phoneline</th>
                      <th>Actions</th>
                     
                  </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{updateStat[0].country}}</td>
                          <td><input class ="form-control" ng-model="updateStat[0].year"/></td>
                          <td><input class ="form-control" ng-model="updateStat[0].usageInternet"/></td>
                          <td><input class ="form-control" ng-model="updateStat[0].usagephoneline"/></td>
                          <td><button class="btn btn-primary"ng-click= "update(newStat[0])">Update</button></td>

                      </tr>
                </tbody>
            </table